{%  extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static '/cookbook.css' %}" /> 
    <script src="{% static '/javascript/cookbook.js' %}"></script> 
{% endblock %}

{% block MessageTitle %}Cookbook{% endblock %}
{% block MessageContent%}Lets eat!{% endblock %}

{% block HomeContent %}
<nav class="UI_Navigation_Menu">
    <li href="#" class="UI_Navigation_Tag is-active" active-color="orange">Today's Menu</li>
    <li href="#" class="UI_Navigation_Tag" active-color="green">Recepies</li>
    <li href="#" class="UI_Navigation_Tag" active-color="blue">Sales</li>
    <li href="#" class="UI_Navigation_Tag" active-color="blue">Shopping list</li>
</nav>


<div id="UI_All_Container">
    <div class="UI_Menu_Searchbar">
        <input class="UI_Menu_Searchbar_Tag" type="text" placeholder="Search in menu.."></input>
        <div class="UI_Menu_Searchbar_Tag"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="20" height="20"
            viewBox="0 0 30 30"
            style=" fill:#AB52FF; stroke:#AB52FF"><path d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path></svg></div>
    </div>

    <div id="UI_All_Container_Pages">
        <div class="UI_All_Container_Page">
            
            <div id="UI_Categories_Container">

                <div class="frame" id="basic">
                  <ul class="clearfix">
                    <li>Reccomended</li>
                    <li>5 Minutes</li>
                    <li>Dessert</li>
                    <li>Italian</li>
                    <li>Greek</li>
                    <li>Chinese</li>
                    <li>American</li>
                    <li>Mexican</li>
                    <li>Vegetarian</li>
                    <li>Fitness</li>
                    <li>Favourites</li>
                  </ul>
                </div>  
            </div>

            <div class="UI_All_Tags UI_All_Tags_Recepies">
                <ul class="UI_All_Tags_Recepies_Tag">
                    <li>Picture</li>
                    <li>Spagetti bolognase </li>
                    <li>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                    </li>
                    <li>Ingridients: Cheese, Tomato sauce, Pasta, Hot water (boiling) </li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="15" height="15"
                        viewBox="0 0 26 26"
                        style=" fill:#cdcccf;"><path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z"></path></svg>
                </ul>

                <ul class="UI_All_Tags_Recepies_Tag">
                    <li>Picture</li>
                    <li>Spagetti bolognase </li>
                    <li>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                    </li>
                    <li>Ingridients: Cheese, Tomato sauce, Pasta, Hot water (boiling) </li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="15" height="15"
                        viewBox="0 0 26 26"
                        style=" fill:#cdcccf;"><path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z"></path></svg>
                </ul>

                <ul class="UI_All_Tags_Recepies_Tag">
                    <li>Picture</li>
                    <li>Spagetti bolognase </li>
                    <li>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                    </li>
                    <li>Ingridients: Cheese, Tomato sauce, Pasta, Hot water (boiling) </li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="15" height="15"
                        viewBox="0 0 26 26"
                        style=" fill:#cdcccf;"><path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z"></path></svg>
                </ul>

                <ul class="UI_All_Tags_Recepies_Tag">
                    <li>Picture</li>
                    <li>Spagetti bolognase </li>
                    <li>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                        <div class="reviews"></div>
                    </li>
                    <li>Ingridients: Cheese, Tomato sauce, Pasta, Hot water (boiling) </li>
                    <li><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                        width="15" height="15"
                        viewBox="0 0 26 26"
                        style=" fill:#cdcccf;"><path d="M 21 0 C 18.238281 0 16 2.238281 16 5 C 16 5.085938 16.027344 5.164063 16.03125 5.25 L 8.1875 9.1875 C 7.320313 8.457031 6.222656 8 5 8 C 2.238281 8 0 10.238281 0 13 C 0 15.761719 2.238281 18 5 18 C 6.222656 18 7.320313 17.542969 8.1875 16.8125 L 16.03125 20.75 C 16.027344 20.835938 16 20.914063 16 21 C 16 23.761719 18.238281 26 21 26 C 23.761719 26 26 23.761719 26 21 C 26 18.238281 23.761719 16 21 16 C 19.777344 16 18.679688 16.457031 17.8125 17.1875 L 9.96875 13.25 C 9.972656 13.164063 10 13.085938 10 13 C 10 12.914063 9.972656 12.835938 9.96875 12.75 L 17.8125 8.8125 C 18.679688 9.542969 19.777344 10 21 10 C 23.761719 10 26 7.761719 26 5 C 26 2.238281 23.761719 0 21 0 Z"></path></svg>
                </ul>

            </div>
        </div>

        <div class="UI_All_Container_Page">

            <table id="UI_Recepies_Container" class="UI_Slider_Container">
                <tr>
                    <th><input type="checkbox"></input></th>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Process</th>
                    <th>Ingredients</th>
                    <th>Tags</th>
                    <th>Rating</th>
                    <th>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"width="20" height="20"viewBox="0 0 72 72"style=" fill:#83818c;"><path d="M38.406 22.234l11.36 11.36L28.784 54.576l-12.876 4.307c-1.725.577-3.367-1.065-2.791-2.79l4.307-12.876L38.406 22.234zM41.234 19.406l5.234-5.234c1.562-1.562 4.095-1.562 5.657 0l5.703 5.703c1.562 1.562 1.562 4.095 0 5.657l-5.234 5.234L41.234 19.406z"></path></svg>
                    </th>
                </tr>

                <tr>
                  <td><input type="checkbox"></input></td>
                  <td>Spagetti.jpg</td>
                  <td>Spagetti bolognese</td>
                  <td>First step: Get a bowl.</td>
                  <td>Cheese, Tomato sauce, Pasta, Hot water (boiling)</td>
                  <td>Italian, Favourites, Cheap</td>
                  <td>5</td>
                  <td><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                    width="20" height="20"
                    viewBox="0 0 72 72"
                    style=" fill:#83818c;"><path d="M38.406 22.234l11.36 11.36L28.784 54.576l-12.876 4.307c-1.725.577-3.367-1.065-2.791-2.79l4.307-12.876L38.406 22.234zM41.234 19.406l5.234-5.234c1.562-1.562 4.095-1.562 5.657 0l5.703 5.703c1.562 1.562 1.562 4.095 0 5.657l-5.234 5.234L41.234 19.406z"></path></svg></td>
                </tr>

                <tr>
                    <td><input type="checkbox"></input></td>
                    <td>Spagetti.jpg</td>
                    <td>Spagetti bolognese</td>
                    <td>First step: Get a bowl.</td>
                    <td>Cheese, Tomato sauce, Pasta, Hot water (boiling)</td>
                    <td>Italian, Favourites, Cheap</td>
                    <td>5</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                      width="20" height="20"
                      viewBox="0 0 72 72"
                      style=" fill:#83818c;"><path d="M38.406 22.234l11.36 11.36L28.784 54.576l-12.876 4.307c-1.725.577-3.367-1.065-2.791-2.79l4.307-12.876L38.406 22.234zM41.234 19.406l5.234-5.234c1.562-1.562 4.095-1.562 5.657 0l5.703 5.703c1.562 1.562 1.562 4.095 0 5.657l-5.234 5.234L41.234 19.406z"></path></svg></td>
                </tr>

            </table>
        </div>

        <div class="UI_All_Container_Page">
            3
        </div>

        <div class="UI_All_Container_Page">
            <div id="UI_Categories_Container">
                <div class="frame" id="basic2">
                  <ul class="clearfix">
                    <li>Buy it!</li>
                    <li>Vegetables</li>
                    <li>Fruits</li>
                    <li>Pentry</li>
                    <li>Diary</li>
                    <li>Liquids</li>
                    <li>Herbs |&Spices</li>
                    <li>Cereals</li>
                    <li>Snacks</li>
                  </ul>
                </div>  
            </div>

             <div id="UI_Ingredient_Types_Container">
                <h2>Frequents</h2>
                <div id="UI_Ingredients_Container">
                    <div class="UI_Ingredient">1</div>
                    <div class="UI_Ingredient">2</div>
                    <div class="UI_Ingredient">3</div>
                    <div class="UI_Ingredient">4</div>
                    <div class="UI_Ingredient">+</div>
                </div>
             </div>

             <div id="UI_Ingredient_Types_Container">
                <h2>Brassicas</h2>
                <div id="UI_Ingredients_Container">
                    <div class="UI_Ingredient">
                        <div class=""></div>
                    </div>
                    <div class="UI_Ingredient">2</div>
                    <div class="UI_Ingredient">3</div>
                    <div class="UI_Ingredient">4</div>
                    <div class="UI_Ingredient">5</div>
                    <div class="UI_Ingredient">6</div>
                    <div class="UI_Ingredient">7</div>
                    <div class="UI_Ingredient">+</div>
                </div>
             </div>

        </div>
    </div>

</div>

{% endblock %}