

.UI_Navigation_Menu
{
    display: inline-flex;
    position: relative;
    overflow: hidden;
    max-width: 100%;
    padding:40px 0px;

    list-style-type: none;
    
}

.UI_Navigation_Tag
{
    color: #83818c;
    padding: 20px;
    text-decoration: none;
    z-index: 1;
    margin-right:40px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;
    cursor: pointer;
  }


.UI_Navigation_Tag:not(.is-active):hover { 
    color: rgb(95, 95, 95); 
}
.UI_Navigation_Menu li:after{
    display: block;
    content: '';
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);  
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
}
.UI_Navigation_Menu li:after{
    margin-top:10px;
    border-top: solid 4px rgb(95, 95, 95); 
    border-radius: 4px;
}
.UI_Navigation_Menu li:hover:after{
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
}
.UI_Navigation_Tag.is-active
{
    color: #333; 
}
.UI_Navigation_Menu li.is-active::after{
    border-top: solid 4px #333;

    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
}


.UI_Summa
{
    width:100%;
    height:calc(100% - 350px);
    display: grid;
    gap: 25px;

    grid-template-columns: calc(20% - 25px) calc(20% - 25px) calc(20% - 25px) calc(20% - 25px) calc(20% );
    word-wrap: break-word; 

    text-align: left;
}

.UI_Summa h2
{
    color:#333;
    line-height: 1;
    font-weight: 700;

    font-size: 20px;
}

.UI_Summa_Tag
{
    background-color: rgba(255, 255, 255, 0.507);
    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 18px 1px rgba(186,186,186,0.05); 
    box-shadow: 0px 0px 18px 1px rgba(186,186,186,0.05);

    backdrop-filter:blur(2px);
    box-sizing:border-box;
    padding:20px;

    display: block;

}


.UI_Summa_Tag_1
{
    grid-column: 1 / 3;
    grid-row: 1 / 10;

}

.UI_Summa_Tag_2
{
    grid-column: 1;
    grid-row: 10 / 20;

}

.UI_Summa_Tag_3
{
    grid-column: 2;
    grid-row: 10 / 20;

}
.UI_Summa_Tag_4
{
    grid-column: 3 / 5;
    grid-row: 1 / 20;

}
.UI_Summa_Tag_5
{
    grid-column: 5;
    grid-row: 1 / 10;

}
.UI_Summa_Tag_6
{
    grid-column: 5;
    grid-row: 10 / 20;

}